<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>CourtBot 0.0.1</title>
  <link rel="stylesheet" href="/public/styles.css">
</head>
<body>

<header>
	<h3>
		<a href="/">CourtBot 0.0.1</a>
	</h3>
	<hr>
</header>