<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>CourtBot Pre-Alpha</title>
  <link rel="stylesheet" href="/public/styles.css">
</head>
<body>

<header>
	<h3>
		<a href="/">CourtBot Pre-Alpha</a>
		<small style="float:right"><a href="/">Logout</a></small>
	</h3>
</header>